{% extends 'ui/index_factored.html' %}
{% load staticfiles %}
{% block topslot %}
<div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">Welcome!</h1>
    <div class="row center">
        <h5 class="header col s12 light">If you have never used this application, you might want to use our privacy wizard to do a quick setup of your privacy profile</h5>
    </div>
    <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange" onclick="buttonPrivacyWizard();">Start privacy wizard</a>
        <a href="/services" id="download-button" class="btn-large waves-effect waves-light orange">Browse Services</a>
    </div>
    <br>
    <br>

</div>
{% endblock %}

{% block maincontent %}

<h3 class="header center light-blue-text">Quick Privacy</h3>

<a id="switchView" class="dropdown-button btn light-blue" href="#!" data-beloworigin="true" data-activates="dropView"><i class="material-icons left">view_week</i>Card View<span class="caret"></span><i class="material-icons right">arrow_drop_down</i></a>

<!-- Dropdown Structure -->
<ul id='dropView' class='dropdown-content'>
    <li class="active" id="switchCardView"><a class="blue-text" href="#!" onclick="$('#listView').addClass('hidden'); $('#cardView').removeClass('hidden');"><i class="material-icons left">view_week</i>Card View</a></li>
    <li class="" id="switchProfView"><a class="blue-text" href="#!" onclick="$('#cardView').addClass('hidden'); $('#listView').removeClass('hidden');"><i class="material-icons left">list</i>Professional List View</a></li>
</ul>

<!--<a class="right btn light-blue" onclick="buttonPrivacyWizard();"><i class="material-icons left">lock</i>Start Privacy Wizard<span class="caret"></span></a>-->

<!-- Card view with content from database -->
<div class="row" id="cardView">
    <!-- Single card Personal data -->
    <div class="col s12 m4">
      <div class="card blue lighten-5 icon-block">
        <div class="card-content black-text">
          <span class="card-title">Personal Data
          <a href="#modalPersonalSettings" class="btn-floating btn-large light-blue right modal-trigger">
              <i class="large material-icons">mode_edit</i>
          </a>
          </span>
          <div>
            {% for item in personalData|dictsort:"permID.id" %}
            {% if item.value %}
            <div class="chip light-blue white-text">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% else %}
            <div class="chip">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% endif %}

            {% endfor %}

          </div>
        </div>
        <div class="card-action light-blue-text">
            <a href="#modalPersonalSettings" class="waves-effect waves-light btn btn-block light-blue modal-trigger"><i class="material-icons left">restore</i>Show recent usage</a>
        </div>

        <!-- Modal Structure -->
        <div id="modalPersonalSettings" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="modal-header row">

                    <h4 class="modal-title">
                    Personal data settings
                    <i class="material-icons right modal-close">close</i>
                    </h4>

                    <!--                                    <a class="waves-effect waves-light btn modal-close col m2">Save</a>-->

                </div>
                <div class="modal-body">

                    <ul class="collection">
                        {% for item in personalData|dictsort:"permID.id" %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue">{{ item.permID.icon }}</i>
                            <span class="title">{{item.permID.permissionName}}</span>
                            <p>
                                {{item.permID.description}}
                            </p>
                            <div class="switch" id="personalDataEdit">
                                <label class="secondary-content">
                                    Off
                                    {% if item.value %}
                                    <input id="{{ item.id }}" type="checkbox" checked>
                                    {% else %}
                                    <input id="{{ item.id }}" type="checkbox">
                                    {% endif %}
                                    <span class="lever"></span> On
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="left grey modal-action waves-effect waves-light btn modal-close"><i class="material-icons left">cancel</i>Cancel</button>
                <button type="button" id="buttonSavePersonal" class="right blue modal-action waves-effect waves-light btn modal-close"><i class="material-icons right">done</i>Save settings</button>

            </div>
        </div>
      </div>
    </div>
    <!-- Single card Location data -->
    <div class="col s12 m4">
      <div class="card blue lighten-5 icon-block">
        <div class="card-content black-text">
          <span class="card-title">Location Data
          <a href="#modalLocationSettings" class="btn-floating btn-large light-blue right modal-trigger">
              <i class="large material-icons">mode_edit</i>
          </a>
          </span>
          <div>
            {% for item in locationData|dictsort:"permID.id" %}
            {% if item.value %}
            <div class="chip light-blue white-text">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% else %}
            <div class="chip">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% endif %}

            {% endfor %}

          </div>
        </div>
        <div class="card-action light-blue-text">
            <a href="#modalLocationSettings" class="waves-effect waves-light btn btn-block light-blue modal-trigger"><i class="material-icons left">restore</i>Show recent usage</a>
        </div>

        <!-- Modal Structure -->
        <div id="modalLocationSettings" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="modal-header row">

                    <h4 class="modal-title">
                    Location data settings
                    <i class="material-icons right modal-close">close</i>
                    </h4>

                    <!--                                    <a class="waves-effect waves-light btn modal-close col m2">Save</a>-->

                </div>
                <div class="modal-body">

                    <ul class="collection">
                        {% for item in locationData|dictsort:"permID.id" %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue">{{ item.permID.icon }}</i>
                            <span class="title">{{item.permID.permissionName}}</span>
                            <p>
                                {{item.permID.description}}
                            </p>
                            <div class="switch" id="locationDataEdit">
                                <label class="secondary-content">
                                    Off
                                    {% if item.value %}
                                    <input id="{{ item.id }}" type="checkbox" checked>
                                    {% else %}
                                    <input id="{{ item.id }}" type="checkbox">
                                    {% endif %}
                                    <span class="lever"></span> On
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="left grey modal-action waves-effect waves-light btn modal-close"><i class="material-icons left">cancel</i>Cancel</button>
                <button type="button" id="buttonSaveLocation" class="right blue modal-action waves-effect waves-light btn modal-close"><i class="material-icons right">done</i>Save settings</button>

            </div>
        </div>
      </div>
    </div>

    <!-- Single card Shopping data -->
    <div class="col s12 m4">
      <div class="card blue lighten-5 icon-block">
        <div class="card-content black-text">
          <span class="card-title">Shopping Data
          <a href="#modalShoppingSettings" class="btn-floating btn-large light-blue right modal-trigger">
              <i class="large material-icons">mode_edit</i>
          </a>
          </span>
          <div>
            {% for item in shoppingData|dictsort:"permID.id" %}
            {% if item.value %}
            <div class="chip light-blue white-text">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% else %}
            <div class="chip">
                {{item.permID.permissionName}}
                <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="{{item.permID.description}}">info</i>
            </div>
            {% endif %}

            {% endfor %}

          </div>
        </div>
        <div class="card-action light-blue-text">
            <a href="#modalShoppingRecent" class="waves-effect waves-light btn btn-block light-blue modal-trigger"><i class="material-icons left">restore</i>Show recent usage</a>
        </div>

        <!-- Modal Structure -->
        <div id="modalShoppingSettings" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="modal-header row">

                    <h4 class="modal-title">
                    Shopping data settings
                    <i class="material-icons right modal-close">close</i>
                    </h4>

                    <!--                                    <a class="waves-effect waves-light btn modal-close col m2">Save</a>-->

                </div>
                <div class="modal-body">
                    <ul class="collection">
                        {% for item in shoppingData|dictsort:"permID.id" %}
                        {% if item.permID.permissionName == "Products as on receipt" %}
                        <li class="collection-item">
                            <span class="title">Receipt</span>
                            <ul class="collection">
                                <li class="collection-item">
                                  <div>{{ item.permID.permissionName }} (Share completely)
                                    <a href="#!" class="secondary-content">
                                        <div class="switch" id="shoppingDataEdit">
                                            <label class="secondary-content">
                                                Off
                                                {% if item.value %}
                                                <input id="{{ item.id }}" class="ParentCard" type="checkbox" checked>
                                                {% else %}
                                                <input id="{{ item.id }}" class="ParentCard" type="checkbox">
                                                {% endif %}
                                                <span class="lever"></span> On
                                            </label>
                                        </div>
                                    </a>
                                  </div>
                                </li>
                                {% for child in shoppingData|dictsort:"permID.id" %}
                                {% if child.permID.child == "True" %}
                                <li class="collection-item">
                                  <div>{{ child.permID.permissionName }}
                                    <a href="#!" class="secondary-content">
                                        <div class="switch" id="shoppingDataEdit">
                                            <label class="secondary-content">
                                                Off
                                                {% if child.value %}
                                                <input id="{{ child.id }}" class="ChildCard" type="checkbox" checked>
                                                {% else %}
                                                <input id="{{ child.id }}" class="ChildCard" type="checkbox">
                                                {% endif %}
                                                <span class="lever"></span> On
                                            </label>
                                        </div>
                                    </a>
                                  </div>
                                </li>
                                {% else %}
                                {% endif %}
                                {% endfor %}

                              </ul>
                            <!-- <div class="switch" id="shoppingDataEdit">
                                <label class="secondary-content">
                                    Off
                                    {% if item.value %}
                                    <input id="{{ item.id }}" type="checkbox" checked>
                                    {% else %}
                                    <input id="{{ item.id }}" type="checkbox">
                                    {% endif %}
                                    <span class="lever"></span> On
                                </label>
                            </div> -->
                        </li>

                        {% elif not item.permID.child = 'True' %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue">{{ item.permID.icon }}</i>
                            <span class="title">{{item.permID.permissionName}}</span>
                            <p>
                                {{item.permID.description}}
                            </p>
                            <div class="switch" id="shoppingDataEdit">
                                <label class="secondary-content">
                                    Off
                                    {% if item.value %}
                                    <input id="{{ item.id }}" type="checkbox" checked>
                                    {% else %}
                                    <input id="{{ item.id }}" type="checkbox">
                                    {% endif %}
                                    <span class="lever"></span> On
                                </label>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="left grey modal-action waves-effect waves-light btn modal-close"><i class="material-icons left">cancel</i>Cancel</button>
                <button type="button" id="buttonSaveShopping" class="right blue modal-action waves-effect waves-light btn modal-close"><i class="material-icons right">done</i>Save settings</button>

            </div>
        </div>

        <div id="modalShoppingRecent" class="modal bottom-sheet">

          <div class="modal-content">
              <div class="modal-header row">

                  <h4 class="modal-title">
                  Recent Shopping Data Usage
                  <i class="material-icons right modal-close">close</i>
                  </h4>


                  <!--                                    <a class="waves-effect waves-light btn modal-close col m2">Save</a>-->

              </div>
              <div class="modal-body">
                <table class="striped">
                  <thead>
                    <tr>
                        <th data-field="Service">Service</th>
                        <th data-field="Permission">Permission</th>
                        <th data-field="Timestamp">Timestamp</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for usage in recentUsage|dictsortreversed:"timestamp" %}
                    <tr>
                      <td>{{ usage.service }}</td>
                      <td>{{ usage.permission }}</td>
                      <td>{{ usage.timestamp }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</div>

<!-- List view for privacy settings -->
<div class="row hidden" id="listView">
  <div class="card-panel light-blue"><p class="white-text"><i class="left material-icons">info_outline</i>Tip: Click on any of the permissions to view more details!</p></div>
    <ul class="collection collapsible card with-header" data-collapsible="expandable">

        <!-- Personal data -->
        <li class="collection-header">
            <h4>Personal data</h4>

        </li>
        {% for item in personalData|dictsort:"permID.id" %}
        <li>
            <div id="ProfDataEdit" class="collapsible-header switch">
                <i class="left material-icons">info</i>{{ item.permID.permissionName }}
                <label class="secondary-content">
                    Off
                    {% if item.value %}
                    <input id="{{ item.id }}" type="checkbox" checked>
                    {% else %}
                    <input id="{{ item.id }}" type="checkbox">
                    {% endif %}
                    <span class="lever"></span> On
                </label>
            </div>
            <div class="collapsible-body">
                <p>{{ item.permID.description }}</p>
            </div>
        </li>
        {% endfor %}

        <!-- Lcoation data -->
        <li class="collection-header">
            <h4>Location data</h4></li>
        {% for item in locationData|dictsort:"permID.id" %}
        <li>
            <div id="ProfDataEdit" class="collapsible-header switch">
                <i class="left material-icons">info</i>{{ item.permID.permissionName }}
                <label class="secondary-content">
                    Off
                    {% if item.value %}
                    <input id="{{ item.id }}" type="checkbox" checked>
                    {% else %}
                    <input id="{{ item.id }}" type="checkbox">
                    {% endif %}
                    <span class="lever"></span> On
                </label>
            </div>
            <div class="collapsible-body">
                <p>{{ item.permID.description }}</p>
            </div>
        </li>
        {% endfor %}

        <!-- Shopping data -->
        <li class="collection-header">
            <h4>Shopping data</h4></li>
        {% for item in shoppingData|dictsort:"permID.id" %}
        {% if item.permID.permissionName == "Products as on receipt" %}
        <li>
          <div class="collapsible-header active switch">
              <i class="left material-icons">list</i>Receipt:
          </div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item">
                <div>{{ item.permID.permissionName }} (Share completely)
                  <a href="#!" class="secondary-content">
                      <div id="ProfDataEdit" class="switch" >
                          <label class="secondary-content">
                              Off
                              {% if item.value %}
                              <input id="{{ item.id }}" class="superiorPermission" type="checkbox" checked>
                              {% else %}
                              <input id="{{ item.id }}" class="superiorPermission" type="checkbox">
                              {% endif %}
                              <span class="lever"></span> On
                          </label>
                      </div>
                  </a>
                </div>
              </li>
              {% for child in shoppingData|dictsort:"permID.id" %}
              {% if child.permID.child == "True" %}
              <li class="collection-item">
                <div>{{ child.permID.permissionName }}
                  <a href="#!" class="secondary-content">
                      <div id="ProfDataEdit" class="switch">
                          <label class="secondary-content">
                              Off
                              {% if child.value %}
                              <input id="{{ child.id }}" type="checkbox" class="childPermission" checked>
                              {% else %}
                              <input id="{{ child.id }}" class="childPermission" type="checkbox">
                              {% endif %}
                              <span class="lever"></span> On
                          </label>
                      </div>
                  </a>
                </div>
              </li>
              {% else %}
              {% endif %}
              {% endfor %}

            </ul>
          </div>
        </li>
        {% elif not item.permID.child = 'True'%}
        <li>
            <div id="ProfDataEdit" class="collapsible-header switch">
                <i class="left material-icons">info</i>{{ item.permID.permissionName }}
                <label class="secondary-content">
                    Off
                    {% if item.value %}
                    <input id="{{ item.id }}" type="checkbox" checked>
                    {% else %}
                    <input id="{{ item.id }}" type="checkbox">
                    {% endif %}
                    <span class="lever"></span> On
                </label>
            </div>
            <div class="collapsible-body">
                <p>{{ item.permID.description }}</p>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <button type="button" id="buttonSaveProf" class="right blue modal-action waves-effect waves-light btn modal-close"><i class="material-icons right">done</i>Save settings</button>

</div>
{% endblock %}



{% block privacyWizard %}
<div id="privacyWizard" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="carousel carousel-slider center" data-indicators="true" style="height:100%;">
            <!-- IUIPC Question 1 -->
            <div id="iuipc1" class="carousel-item" href="#one!">
                <h5>Privacy Wizard <span>1/10</span></h5>
                <p>It usually bothers me when online companies ask me for personal information</p>
                <form class="activesurvey" action="#" id="iuipc_1">
                  <p>
                      <input name="answer1" type="radio" id="iuipc1_answer_1" />
                      <label for="iuipc1_answer_1">1 - Entirely disagree</label>
                  </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_2" />
                        <label for="iuipc1_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_3" />
                        <label for="iuipc1_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_4" />
                        <label for="iuipc1_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_5" />
                        <label for="iuipc1_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_6" />
                        <label for="iuipc1_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer1" type="radio" id="iuipc1_answer_7" />
                        <label for="iuipc1_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 2 -->
            <div id="iuipc2" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>2/10</span></h5>
                <p>When online companies ask me for personal information, I sometimes think twice before providing it</p>
                <form class="activesurvey" action="#" id="iuipc_2">
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_1" />
                        <label for="iuipc2_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_2" />
                        <label for="iuipc2_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_3" />
                        <label for="iuipc2_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_4" />
                        <label for="iuipc2_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_5" />
                        <label for="iuipc2_answer_4">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_6" />
                        <label for="iuipc2_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer2" type="radio" id="iuipc2_answer_7" />
                        <label for="iuipc2_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 3 -->
            <div id="iuipc3" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>3/10</span></h5>
                <p>It bothers me to give personal information to so many online companies</p>
                <form class="activesurvey" action="#" id="iuipc_3">
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_1" />
                        <label for="iuipc3_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_2" />
                        <label for="iuipc3_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_3" />
                        <label for="iuipc3_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_4" />
                        <label for="iuipc3_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_5" />
                        <label for="iuipc3_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_6" />
                        <label for="iuipc3_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer3" type="radio" id="iuipc3_answer_7" />
                        <label for="iuipc3_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 4 -->
            <div id="iuipc4" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>4/10</span></h5>
                <p>I´m concerned that online companies are collecting too much personal information about me</p>
                <form class="activesurvey" action="#" id="iuipc_4">
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_1" />
                        <label for="iuipc4_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_2" />
                        <label for="iuipc4_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_3" />
                        <label for="iuipc4_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_4" />
                        <label for="iuipc4_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_5" />
                        <label for="iuipc4_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_6" />
                        <label for="iuipc4_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer4" type="radio" id="iuipc4_answer_7" />
                        <label for="iuipc4_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 5 -->
            <div id="iuipc5" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>5/10</span></h5>
                <p>Consumer online privacy is really a matter of consumers´ right to exercise control and autonomy over decisions about how their information is collected, used, and shared</p>
                <form class="activesurvey" action="#" id="iuipc_5">
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_1" />
                        <label for="iuipc5_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_2" />
                        <label for="iuipc5_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_3" />
                        <label for="iuipc5_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_4" />
                        <label for="iuipc5_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_5" />
                        <label for="iuipc5_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_6" />
                        <label for="iuipc5_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer5" type="radio" id="iuipc5_answer_7" />
                        <label for="iuipc5_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 6 -->
            <div id="iuipc6" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>6/10</span></h5>
                <p>Consumer control of personal information lies at the heart of consumer privacy</p>
                <form class="activesurvey" action="#" id="iuipc_6">
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_1" />
                        <label for="iuipc6_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_2" />
                        <label for="iuipc6_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_3" />
                        <label for="iuipc6_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_4" />
                        <label for="iuipc6_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_5" />
                        <label for="iuipc6_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_6" />
                        <label for="iuipc6_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer6" type="radio" id="iuipc6_answer_7" />
                        <label for="iuipc6_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 7 -->
            <div id="iuipc7" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>7/10</span></h5>
                <p>I believe that online privacy is invaded when control is lost or unwillingly reduced as a result of a marketing transaction</p>
                <form class="activesurvey" action="#" id="iuipc_7">
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_1" />
                        <label for="iuipc7_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_2" />
                        <label for="iuipc7_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_3" />
                        <label for="iuipc7_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_4" />
                        <label for="iuipc7_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_5" />
                        <label for="iuipc7_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_6" />
                        <label for="iuipc7_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer7" type="radio" id="iuipc7_answer_7" />
                        <label for="iuipc7_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 8 -->
            <div id="iuipc8" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>8/10</span></h5>
                <p>Companies seeking information online should disclose the way the data are collected, processed, and used</p>
                <form class="activesurvey" action="#" id="iuipc_8">
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_1" />
                        <label for="iuipc8_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_2" />
                        <label for="iuipc8_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_3" />
                        <label for="iuipc8_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_4" />
                        <label for="iuipc8_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_5" />
                        <label for="iuipc8_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_6" />
                        <label for="iuipc8_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer8" type="radio" id="iuipc8_answer_7" />
                        <label for="iuipc8_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 9 -->
            <div id="iuipc9" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>9/10</span></h5>
                <p>A good consumer online privacy policy should have a clear and conspicuous disclosure</p>
                <form class="activesurvey" action="#" id="iuipc_9">
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_1" />
                        <label for="iuipc9_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_2" />
                        <label for="iuipc9_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_3" />
                        <label for="iuipc9_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_4" />
                        <label for="iuipc9_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_5" />
                        <label for="iuipc9_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_6" />
                        <label for="iuipc9_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer9" type="radio" id="iuipc9_answer_7" />
                        <label for="iuipc9_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>

            <!-- IUIPC Question 10 -->
            <div id="iuipc10" class="carousel-item" href="#two!">
                <h5>Privacy Wizard <span>10/10</span></h5>
                <p>It is very important to me that I am aware and knowledgeable about how my personal information will be used</p>
                <form class="activesurvey" action="#" id="iuipc_10">
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_1" />
                        <label for="iuipc10_answer_1">1 - Entirely disagree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_2" />
                        <label for="iuipc10_answer_2">2 - Mostly disagree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_3" />
                        <label for="iuipc10_answer_3">3 - Somewhat disagree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_4" />
                        <label for="iuipc10_answer_4">4 - Neither agree nor disagree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_5" />
                        <label for="iuipc10_answer_5">5 - Somewhat agree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_6" />
                        <label for="iuipc10_answer_6">6 - Mostly agree</label>
                    </p>
                    <p>
                        <input name="answer10" type="radio" id="iuipc10_answer_7" />
                        <label for="iuipc10_answer_7">7 - Entirely agree</label>
                    </p>
                </form>
            </div>


            <!-- Final page -->
            <div id="surveyend" class="carousel-item">
                <h5>Thanks for completing</h5>
                <div class="row container">
                    <a id="calcWizard" class="btn btn-block light-blue" onclick="checkSurveyCompleted();"><i class="material-icons left">play_arrow</i>Calculate settings now<span class="caret"></span></a>
                    <div id="calcInfoSpinner" class="preloader-wrapper big active hidden">
                      <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                </div>

                <br/>
                <p class="hidden" id"calcInfoSurvey">We are calculating your results and will redirect you when finished</p>
                <p>You can always retake the survey or personalize each setting individually.</p>

            </div>


        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="PrivNext" class=" modal-action waves-effect waves-green btn-flat" onclick="privacyWizardNext();">Next</a>
        <a href="#!" id="PrivBack" class=" modal-action waves-effect waves-green btn-flat" onclick="privacyWizardPrevious();">Back</a>

    </div>
</div>
{% endblock %}

{% block customJavascript %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
