{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->

    <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

    <style>
        // Classes
        .show {
            display: block !important;
        }

        .hidden {
            display: none !important;
            visibility: hidden !important;
        }

        .invisible {
            visibility: hidden;
        }
    </style>

    <style>
    {% block customcss %}
    {% endblock %}
    </style>
</head>

<body>

<!-- Remove later -->

    <!-- Dropdown Structure -->
    <ul id="dropnav" class="dropdown-content">
        <li><a href="#">My privacy</a></li>
        <li><a href="{% url 'settingsView' %}">Settings</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'doLogout' %}">Logout</a></li>
    </ul>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'dashboard' %}" class="brand-logo">Profile Me</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="/services">Services<span class="new badge orange">2</span></a></li>
                <li><a href="#"><i class="material-icons">search</i></a></li>
                {% if user.is_authenticated %}
                <li><a class="dropdown-button" data-beloworigin="true" href="#" data-activates="dropnav"><i class="material-icons left">perm_identity</i>My Account</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li><a href="{% url 'loginView' %}">Login</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% if user.is_authenticated %}

    <!-- Show this only when logged in!!! -->
    <div class="section no-pad-bot" id="index-banner">
      {% block topslot %}
      {% endblock %}

    </div>
    {% endif %}

    <div class="container">
        <div class="section">
            {% block maincontent %}
            {% endblock %}



        </div>
        <br>
        <br>

        <div class="section">

        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About ProfileMe</h5>
                    <p class="grey-text text-lighten-4">This project is part of a master thesis with the aim to develop a user friendly privacy management.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">My Account</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Popular Services</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Expense Analyzer</a></li>
                        <li><a class="white-text" href="#!">Trending Products</a></li>
                        <li><a class="white-text" href="#!">Healthy Food</a></li>
                        <li><a class="white-text" href="#!">Trendalyzer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                User Interface created using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!-- Privacy Wizard -->
    <!-- Modal Structure -->

    {% block privacyWizard %}
    {% endblock %}

    <!--  Scripts-->


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    {% block customJavascript %}
    {% endblock %}

</body>

</html>
