{% load staticfiles %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->

    <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

    <style>
        // Classes
        .show {
            display: block !important;
        }

        .hidden {
            display: none !important;
            visibility: hidden !important;
        }

        .invisible {
            visibility: hidden;
        }
    </style>
</head>

<body>

<!-- Remove later -->
{{ permissions }}
{% for per in permissions %}
    {{ per.permissionName }}
    {{ per.category }}
{% endfor %}

    <!-- Dropdown Structure -->
    <ul id="dropnav" class="dropdown-content">
        <li><a href="#!">My privacy</a></li>
        <li><a href="#!">Settings</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
    </ul>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Profile Me</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#"><i class="material-icons">search</i></a></li>
                <li><a class="dropdown-button" data-beloworigin="true" href="#" data-activates="dropnav"><i class="material-icons left">perm_identity</i>My Account</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center orange-text">Welcome!</h1>
            <div class="row center">
                <h5 class="header col s12 light">If you have never used this application, you might start by setting your privacy or browse the offered services</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Set Privacy</a>
                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Browse Services</a>
            </div>
            <br>
            <br>

        </div>
    </div>


    <div class="container">
        <div class="section">


            <h3 class="header center light-blue-text">Quick Privacy</h3>

            <a class="dropdown-button btn light-blue" href="#!" data-beloworigin="true" data-activates="dropView"><i class="material-icons left">view_week</i>Card View<span class="caret"></span><i class="material-icons right">arrow_drop_down</i></a>

            <!-- Dropdown Structure -->
            <ul id='dropView' class='dropdown-content'>
                <li class="active"><a class="blue-text" href="#!" onclick="$('#listView').addClass('hidden'); $('#cardView').removeClass('hidden');"><i class="material-icons left">view_week</i>Card View</a></li>
                <li class=""><a class="blue-text" href="#!" onclick="$('#cardView').addClass('hidden'); $('#listView').removeClass('hidden');"><i class="material-icons left">list</i>Professional List View</a></li>
            </ul>

            <a class="right btn light-blue" onclick="buttonPrivacyWizard();"><i class="material-icons left">lock</i>Start Privacy Wizard<span class="caret"></span></a>


            <!--   Card view for privacy settings   -->
            <div class="row" id="cardView">
                <div class="col s12 m4">
                    <div class="card blue lighten-5 icon-block">

                        <div class="card-content black-text">
                            <span class="card-title">Personal Data
                            <a href="#modalPersonalSettings" class="btn-floating btn-large light-blue right modal-trigger">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            </span>
                            <div>
                                <div class="chip light-blue white-text">
                                    Name
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip light-blue white-text">
                                    Birthday
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Address
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Household Income
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Allergies
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Nutrition preferences
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                            </div>
                        </div>

                        <div class="card-action light-blue-text">
                            <a href="#modalPersonalSettings" class="waves-effect waves-light btn btn-block light-blue modal-trigger"><i class="material-icons left">restore</i>Show recent usage</a>
                        </div>

                        <!-- Modal Structure -->
                        <div id="modalPersonalSettings" class="modal bottom-sheet">
                            <div class="modal-content">
                                <div class="modal-header row">

                                    <h4 class="modal-title">
                                    Personal data settings
                                    <i class="material-icons right modal-close">close</i>
                                    </h4>

                                    <!--                                    <a class="waves-effect waves-light btn modal-close col m2">Save</a>-->

                                </div>
                                <div class="modal-body">

                                    <ul class="collection">
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">contacts</i>
                                            <span class="title">Name</span>
                                            <p>
                                                Your full name
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox" checked>
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>

                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">today</i>
                                            <span class="title">Birthday</span>
                                            <p>First Line
                                                <br> Second Line
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">perm_contact_calendar</i>
                                            <span class="title">Address</span>
                                            <p>First Line
                                                <br> Second Line
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">credit_card</i>
                                            <span class="title">Household Income</span>
                                            <p>First Line
                                                <br> Second Line
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox" checked>
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">info_outline</i>
                                            <span class="title">Allergies</span>
                                            <p>First Line
                                                <br> Second Line
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </li>
                                        <li class="collection-item avatar">
                                            <i class="material-icons circle blue">thumbs_up_down</i>
                                            <span class="title">Nutrition preferences</span>
                                            <p>First Line
                                                <br> Second Line
                                            </p>
                                            <div class="switch">
                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="left grey modal-action waves-effect waves-light btn modal-close"><i class="material-icons left">cancel</i>Cancel</button>
                                <button type="button" class="right blue modal-action waves-effect waves-light btn modal-close"><i class="material-icons right">done</i>Save settings</button>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="col s12 m4">
                    <div class="card blue lighten-5 icon-block">

                        <div class="card-content black-text">
                            <span class="card-title">Location Data
                            <a class="btn-floating btn-large light-blue right">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            </span>
                            <div>
                                <div class="chip light-blue white-text">
                                    Device Location
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    In-Store Location
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-action light-blue-text">
                            <a class="waves-effect waves-light btn btn-block light-blue"><i class="material-icons left">restore</i>Show recent usage</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card blue lighten-5 icon-block">

                        <div class="card-content black-text">
                            <span class="card-title">Shopping Data
                            <a class="btn-floating btn-large light-blue right">
                                <i class="large material-icons">mode_edit</i>
                            </a>
                            </span>
                            <div>
                                <div class="chip light-blue white-text">
                                    Recent Shop Visits
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip light-blue white-text">
                                    Products as on receipt
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip disabled">
                                    Only the product categories
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Only the price
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Only the amount
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Recently Viewed Articles
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Article Wishlist
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                                <div class="chip">
                                    Loyalty Points
                                    <i class="tooltipped material-icons" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">info</i>
                                </div>
                            </div>
                        </div>
                        <div class="card-action light-blue-text">
                            <a class="waves-effect waves-light btn btn-block light-blue"><i class="material-icons left">restore</i>Show recent usage</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- List view for privacy settings -->
            <div class="row hidden" id="listView">
                <ul class="collection collapsible popout card with-header" data-collapsible="accordion">

                    <!-- Personal data -->
                    <li class="collection-header">
                        <h4>Personal data</h4></li>
                    <li>
                        <div class="collapsible-header switch">
                            Name
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Birthday
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Address
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Household Income
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Allergies
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Nutrition preferences
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>

                    <!-- Shopping data -->
                    <li class="collection-header">
                        <h4>Shopping data</h4></li>
                    <li>
                        <div class="collapsible-header switch">
                            Recent Shop Visits
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Products as on receipt
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item">
                                    <div>Only Product Categories
                                        <a href="#!" class="secondary-content">
                                            <div class="switch">

                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="collection-item">
                                    <div>Only Price
                                        <a href="#!" class="secondary-content">
                                            <div class="switch">

                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="collection-item">
                                    <div>Only Amount
                                        <a href="#!" class="secondary-content">
                                            <div class="switch">

                                                <label class="secondary-content">
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Address
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Household Income
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Allergies
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header switch">
                            Nutrition preferences
                            <label class="secondary-content">
                                Off
                                <input type="checkbox">
                                <span class="lever"></span> On
                            </label>
                        </div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>




                </ul>
            </div>

        </div>
        <br>
        <br>

        <div class="section">

        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!-- Privacy Wizard -->
    <!-- Modal Structure -->
    <div id="privacyWizard" class="modal modal-fixed-footer">
        <div class="modal-content">

            <!--<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#one!">1</a></li>
    <li class="waves-effect"><a href="#two!">2</a></li>
    <li class="waves-effect"><a href="#three!">3</a></li>
    <li class="waves-effect"><a href="#four!">4</a></li>
    <li class="waves-effect"><a href="#five!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>-->
            <!--
            <div class="center-block">
                <a class="waves-effect waves-light btn" onclick="loadPrivacyWizard()" id="privacystart">Start Privacy Wizard</a>
            </div>
-->



            <div class="carousel carousel-slider center" data-indicators="true" style="height:100%;">
                <!-- IUIPC Question 1 -->
                <div id="iuipc1" class="carousel-item" href="#one!">
                    <h5>Privacy Wizard <span>1/10</span></h5>
                    <p>It usually bothers me when online companies ask me for personal information</p>
                    <form class="activesurvey" action="#" id="iuipc_1">
                        <p>
                            <input name="answer1" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer1" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 2 -->
                <div id="iuipc2" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>2/10</span></h5>
                    <p>When online companies ask me for personal information, I sometimes think twice before providing it</p>
                    <form class="activesurvey" action="#" id="iuipc_2">
                        <p>
                            <input name="answer2" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer2" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 3 -->
                <div id="iuipc3" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>3/10</span></h5>
                    <p>It bothers me to give personal information to so many online companies</p>
                    <form class="activesurvey" action="#" id="iuipc_3">
                        <p>
                            <input name="answer3" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer3" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 4 -->
                <div id="iuipc4" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>4/10</span></h5>
                    <p>I´m concerned that online companies are collecting too much personal information about me</p>
                    <form class="activesurvey" action="#" id="iuipc_4">
                        <p>
                            <input name="answer4" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer4" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 5 -->
                <div id="iuipc5" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>5/10</span></h5>
                    <p>Consumer online privacy is really a matter of consumers´ right to exercise control and autonomy over decisions about how their information is collected, used, and shared</p>
                    <form class="activesurvey" action="#" id="iuipc_5">
                        <p>
                            <input name="answer5" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer5" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 6 -->
                <div id="iuipc6" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>6/10</span></h5>
                    <p>Consumer control of personal information lies at the heart of consumer privacy</p>
                    <form class="activesurvey" action="#" id="iuipc_6">
                        <p>
                            <input name="answer6" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer6" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 7 -->
                <div id="iuipc7" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>7/10</span></h5>
                    <p>I believe that online privacy is invaded when control is lost or unwillingly reduced as a result of a marketing transaction</p>
                    <form class="activesurvey" action="#" id="iuipc_7">
                        <p>
                            <input name="answer7" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer7" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 8 -->
                <div id="iuipc8" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>8/10</span></h5>
                    <p>Companies seeking information online should disclose the way the data are collected, processed, and used</p>
                    <form class="activesurvey" action="#" id="iuipc_8">
                        <p>
                            <input name="answer8" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer8" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 9 -->
                <div id="iuipc9" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>9/10</span></h5>
                    <p>A good consumer online privacy policy should have a clear and conspicuous disclosure</p>
                    <form class="activesurvey" action="#" id="iuipc_9">
                        <p>
                            <input name="answer9" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer9" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>

                <!-- IUIPC Question 10 -->
                <div id="iuipc10" class="carousel-item" href="#two!">
                    <h5>Privacy Wizard <span>10/10</span></h5>
                    <p>It is very important to me that I am aware and knowledgeable about how my personal information will be used</p>
                    <form class="activesurvey" action="#" id="iuipc_10">
                        <p>
                            <input name="answer10" type="radio" id="answer_1" />
                            <label for="answer_1">1 - Entirely disagree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_2" />
                            <label for="answer_2">2 - Mostly disagree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_3" />
                            <label for="answer_3">3 - Somewhat disagree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_4" />
                            <label for="answer_4">4 - Neither agree nor disagree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_5" />
                            <label for="answer_5">5 - Somewhat agree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_6" />
                            <label for="answer_6">6 - Mostly agree</label>
                        </p>
                        <p>
                            <input name="answer10" type="radio" id="answer_7" />
                            <label for="answer_7">7 - Entirely agree</label>
                        </p>
                    </form>
                </div>


                <!-- Final page -->
                <div id="surveyend" class="carousel-item">
                    <h5>Thanks for completing</h5>
                    <div class="row container">
                        <a class="btn btn-block light-blue" onclick=""><i class="material-icons left">play_arrow</i>Calculate settings now<span class="caret"></span></a>
                    </div>

                    <br/>
                    <p>You can always retake the survey or personalize each setting individually.</p>
                </div>


            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="PrivNext" class=" modal-action waves-effect waves-green btn-flat" onclick="privacyWizardNext();">Next</a>
            <a href="#!" id="PrivBack" class=" modal-action waves-effect waves-green btn-flat" onclick="privacyWizardPrevious();">Back</a>

        </div>
    </div>


    <!--  Scripts-->


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>

</html>
