{% extends 'ui/index_factored.html' %}
{% load staticfiles %}


{% block maincontent %}
<h3 class="header center light-blue-text">Quick Privacy</h3>
<div class="row" id="Services">
  {% for service in services %}
  <div class="col m6">
    <div class="card large hoverable col m12">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="" src="{% static service.image.url %}">
          <div class="fixed-action-btn horizontal" style="top:10px; right:0px;">
            <a class="btn-floating btn-large blue activator">
              <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
              <li><a class="btn-floating green"><i class="material-icons">library_add</i></a></li>
              <li><a class="btn-floating blue activator"><i class="material-icons">info</i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{service.name}}<i class="material-icons right">more_vert</i></span>
          <p>{{service.description}}</p>
        </div>
        <div class="card-action">
              <a href="#">Offered by: {{service.offeredBy}}</a>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Permissions<i class="material-icons right">close</i></span>
            <ul class="collection">
            {% for permission in permissions|dictsort:"optional" %}
              {% if permission.service == service %}
                <li class="collection-item avatar">
                  {% if not permission.optional %}
                  <i class="material-icons circle blue">power_settings_new</i>
                  {% else %}
                  <i class="material-icons circle blue">star</i>
                  {% endif %}
                  <span class="title">{{permission.permission}}</span>
                  <p>
                      {{permission.permission.description}}
                  </p>
                  <div class="switch" id="personalDataEdit">
                      <label class="secondary-content">
                          Off
                          {% if not permission.optional %}
                          <input id="" type="checkbox" checked disabled>
                          {% else %}
                          <input id="" type="checkbox">
                          {% endif %}
                          <span class="lever"></span> On
                      </label>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            </ul>

        </div>
      </div>
  </div>


  {% endfor %}
</div>

{% endblock %}
