{% extends 'ui/index_factored.html' %}
{% load staticfiles %}


{% block maincontent %}
<h3 class="header center light-blue-text">Not included in scope</h3>
<p>This page would list all the user settings (Name, Password, ...) as well as his connected Data sources like Google Fit, health database, Amazon or many more.</p>
{% endblock %}
