{% extends 'ui/index_factored.html' %}
{% block maincontent %}
<h3 class="header center light-blue-text">Please wait while we get everything ready for you</h3>
<div class="row">
  <div class="col sm12 center" style="float:none;">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
  </div>
</div>
<h4 class="header center light-blue-text">We will redirect you soon</h4>

<script>
        var timer = setTimeout(function() {
            window.location='{% url 'dashboard' %}'
        }, 5000);
</script>

{% endblock %}
